<div class="contactForm container-fluid mt-5">
    <mat-card>
        <form [formGroup]="cForm" (ngSubmit)="onSubmit()">
            <div class="row m-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline" color="primary">
                        <mat-label>Full Name</mat-label>
                         <input matInput   type="text" formControlName="fullName" placeholder="Full Name">
                         <mat-error *ngIf="fullName?.errors?.required">Full Name is a required.</mat-error>
                    </mat-form-field>
                   
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Age</mat-label>
                         <input matInput   type="text" formControlName="age" placeholder="Age">
                         <mat-error *ngIf="age?.errors?.required">Age is a required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row m-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                         <input matInput   type="text" formControlName="phoneNumber" placeholder="Phone Number">
                         <mat-error *ngIf="phoneNumber?.errors?.required">Phone Number is a required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row m-3">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select>
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                            <mat-option value="other">other</mat-option>
                        </mat-select>
                         <mat-error *ngIf="gender?.errors?.invalid">Gender is a required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row m-3">
                <div class="col d-flex justify-content-center">
                    <button mat-raised-button color="primary">Submit</button>
                </div>
            </div>


        </form>
    </mat-card>
</div>

